__pycache__
*.so
build
.coverage_*
*.egg-info
*~
.vscode/
.idea/
.DS_Store

/private/
Qwen-VL-Chat/
Qwen-VL-Chat-Int4/
SimSun.ttf
examples/pad/
examples/rescale/
tmp/
eval_mm/scripts/eval_tmp.sh
eval_mm/logs/ai2diagram_test_241018163808_fs0_s0.json
eval_mm/logs/ai2diagram_test_241018210759_fs0_s0.json
eval_mm/logs/chartqa_test_augmented_241014221139_fs0_s0.json
eval_mm/logs/chartqa_test_augmented_241016014418_fs0_s0.json
eval_mm/logs/chartqa_test_augmented_241016015959_fs0_s0.json
eval_mm/logs/chartqa_test_human_241014215759_fs0_s0.json
eval_mm/logs/chartqa_test_human_241016013555_fs0_s0.json
eval_mm/logs/chartqa_test_human_241016015144_fs0_s0.json
eval_mm/logs/flickr_241016190017.json
eval_mm/logs/flickr_241018200441.json
eval_mm/logs/flickr_241018202225.json
eval_mm/logs/gqa_testdev_241014210745_fs0_s0.json
eval_mm/logs/gqa_testdev_241021085545_fs0_s0.json
eval_mm/logs/gqa_testdev_241016003905_fs0_s0.json
eval_mm/logs/ocrvqa_test_241015084441_fs0_s0.json
eval_mm/logs/ocrvqa_test_241016155309_fs0_s0.json
eval_mm/logs/ocrvqa_test_241023141200_fs0_s0.json
eval_mm/logs/okvqa_val_241016174602_fs0_s0.json
eval_mm/logs/okvqa_val_241020141221_fs0_s0.json
eval_mm/logs/vqav2_val_241025105108_fs0_s0.json
eval_mm/logs/vqav2_val_241017110352_fs0_s0.json
eval_mm/logs/vqav2_testdev_241102034852_fs0_s0.json
eval_mm/logs/vqav2_testdev_241026213103_fs0_s0.json
eval_mm/logs/vqav2_testdev_241018193316_fs0_s0.json
eval_mm/logs/vizwiz_val_241020193544_fs0_s0.json
eval_mm/logs/vizwiz_val_241014214531_fs0_s0.json
eval_mm/logs/vizwiz_val_241016010151_fs0_s0.json
eval_mm/logs/textvqa_val_241016012829_fs0_s0.json
eval_mm/logs/textvqa_val_241015091047_fs0_s0.json
eval_mm/logs/textvqa_val_241014175033_fs0_s0.json
